<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>
<form action= "{{url_for('menu_item_edit', restaurant_id = restaurant_id, menu_id=menuitem.id)}}" method = 'POST'>

<p>Name:</p>
<input type = 'text' size='30' name = 'name' value='{{menuitem.name}}' placeholder = '{{menuitem.name}}'>
<p>price:</p>
<input type = 'text' size='30' name = 'price' placeholder = '{{menuitem.price}}' value='{{menuitem.price}}'>
<p>description:</p>
<textarea name = 'description' placeholder = '{{menuitem.description}}'>'{{menuitem.description}}'</textarea>
<p>course:</p>
<input type = 'text' size='30' name = 'course' placeholder = '{{menuitem.course}}' value='{{menuitem.course}}'>
<br/>
<input type='submit' value='Edit'>
</form>
<a href="{{url_for('restaurant', restaurant_id= menuitem.restaurant_id)}}">Cancel</a>
</body>
</html>